@model WineShop_Manav.Models.RateList

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color:azure;height:500px;">
        <div>
            <h4>Wine</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>